<div style="display: flex; justify-content: center; align-items: center; height: 100%;">
  <div mat-card class="cardClass" style="display: flex; justify-content: center; flex-direction: column; padding: 10px; height: 30%; background-color: seashell;">
    <mat-card-header style="flex: 1; display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <h1 style="flex: 4; margin: 0; width: 100%; text-align: center;">Java Assessment!</h1>
      <div style="flex: 2">11 questions. 60% is a passing grade</div>
    </mat-card-header>
    <mat-card-actions style="flex: 1; justify-content: center; display: flex; align-items: center; ">
      <button mat-raised-button color="primary" (click)="take_test()">{{msg}}</button>
    </mat-card-actions>
  </div>
</div>

